{% extends 'base.html.twig' %}

{% block body %}
    <h2>Page article</h2>

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Libellé</th>
            <th>Prix</th>
        </tr>
        <tr>
            <td> {{ article.id }} </td>
            <td> {{ article.libelle }} </td>
            <td> {{ article.prix }} </td>
        </tr>
    </table>
    {# commentaire #}
    <!-- comm-->

{% endblock %}
