{% extends 'base.html.twig' %}

{% block body %}
    <h2>Page Somme</h2>
    {{somme}}€ c'est 
    {% if somme > 2000 %}
        <div>Trop cher</div>
    {% elseif somme > 1500 and somme < 2000 %}
        <div>Moyen</div>
    {% else %}
        <div>Abordable</div>
    {% endif %}

{% endblock %}
