{% extends 'base.html.twig' %}

{% block title %}Catégorie!{% endblock %}

{% block body %}

    <h2 class="text-cente">New catégorie</h2>

    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock %}
